* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --very-dark-desaturated-blueMain: hsl(222, 26%, 31%);
    --very-dark-desaturated-blueBG: hsl(223, 31%, 20%);
    --very-dark-desaturated-blueInput: hsl(224, 36%, 15%);
    --desaturated-dark-blue: hsl(225, 21%, 49%);
    --desaturated-dark-blueShadow: hsl(224, 28%, 35%);
    --red: hsl(6, 63%, 50%);
    --dark-red: hsl(6, 70%, 34%);
    --light-grayish-orange: hsl(30, 25%, 89%);
    --grayish-orange: hsl(28, 16%, 65%);
    --very-dark-grayish-blue: hsl(221, 14%, 31%);
    --light-gray: hsl(0, 0%, 90%);
    --grayish-red: hsl(0, 5%, 81%);
    --very-light-gray: hsl(0, 5%, 81%);
    --dark-moderate-cyan: hsl(185, 42%, 37%);
    --very-dark-cyan: hsl(185, 58%, 25%);
    --orange: hsl(25, 98%, 40%);
    --dark-orange: hsl(25, 99%, 27%);
    --light-grayish-yellow: hsl(45, 7%, 89%);
    --dark-grayish-orange: hsl(35, 11%, 61%);
    --very-dark-grayish-yellow: hsl(60, 10%, 19%);
    --white: hsl(0, 0%, 100%);
    --very-dark-violet-mainBG: hsl(268, 75%, 9%);
    --very-dark-violet: hsl(268, 71%, 12%);
    --dark-violet: hsl(281, 89%, 26%);
    --vivid-magenta: hsl(285, 91%, 52%);
    --pure-cyan: hsl(176, 100%, 44%);
    --soft-cyan: hsl(177, 92%, 70%);
    --very-dark-violet: hsl(268, 47%, 21%);
    --dark-magenta: hsl(290, 70%, 36%);
    --light-yellow: hsl(52, 100%, 62%);
    --very-dark-blue: hsl(198, 20%, 13%);
}

#background {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--very-dark-desaturated-blueMain);
    padding-top: 60px;
    padding-bottom: 60px;
}

.font {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#calculator {
    width: 30.5%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
}

#title {
    color: var(--white);
    letter-spacing: 1px;
    font-size: 25px;
    margin-right: auto;
}

#themeText {
    color: var(--white);
    letter-spacing: 1px;
    font-size: 10px;
    margin-right: 20px;
}

#toggleDiv {
    background: var(--very-dark-desaturated-blueBG);
    width: 101px;
    height: 35px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

article {
    width: 100%;
    height: 100px;
    background: var(--very-dark-desaturated-blueInput);
    border-radius: 5px;
    padding: 10px;
    overflow: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

main {
    width: 100%;
    height: 70%;
    margin-top: 30px;
    background: var(--very-dark-desaturated-blueBG);
    border-radius: 5px;
    padding: 18px;
    display: grid;
    grid-template-columns: 94px 94px 94px 94px;
    grid-template-rows: 54px 54px 54px 54px;
    gap: 15px;
}

.grid-keys {
    width: 94px;
    height: 54px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-grayish-orange);
    box-shadow: 0px 3px 0px var(--grayish-orange);
    color: hsl(221, 14%, 31%);
    font-size: 24px;
}

#child17 {
    grid-column: 1/3;
}

#child18 {
    grid-column: 3/5;
    background: var(--red);
    box-shadow: 0px 3px 0px var(--dark-red);
}

#child4, #child17, #child18 {
    color: var(--white);
    letter-spacing: 1px;
}

#child17, #child18 {
    width: 203px;
}

#child17, #child4 {
    background: var(--desaturated-dark-blue);
    box-shadow: 0px 3px 0px var(--desaturated-dark-blueShadow)
}

.grid-keys:hover {
    transform: translateY(3px);
    cursor: pointer;
}

.grid-keys:active {
    transform: translateY(-3px);
}

#display {
    color: var(--white);
    letter-spacing: 1px;
    font-size: 32px;
}

#themeNumsDiv {
    width: 30.5%;
    height: 20px;
    display: flex;
    flex-direction: row-reverse;
}

#themeNumbers {
    width: 101px;
    display: flex;
    justify-content: space-around;
}

.nums {
    color: var(--white);
    font-size: 15px;
}

.inputStyle {
    appearance: none;
    width: 15px;
    height: 15px;
    background: hsl(6, 63%, 50%);
    border-radius: 50%;
}

.inputStyle:nth-of-type(2), .inputStyle:nth-of-type(3) {
    opacity: 0%;
}

#one, #two, #three {
    color: var(--white);
}

@media only screen and (max-width: 1496px) {
    main {
        background: none;
    }
    #calculator {
        width: 100%;
    }
    article {
        width: 100%;
    }
    header  {
        padding: 20px;
    }
    #themeNumsDiv {
        width: 100%;
        padding: 20px;
    }
}