* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    background: rgb(94,11,116);
    background-image: linear-gradient(90deg, rgba(94,11,116,1) 27%, rgba(70,7,152,1) 48%, rgb(5, 124, 148) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px;
    gap: 50px;
}

#title {
    font-weight: 700;
    font-size: 26px;
    color: white;
}

#box { 
    width: 30%;
    height: 60%;
    background: cadetblue;
    border-radius: 15px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    border-radius: 15px;
    display: none;
}

.images:nth-of-type(1) {
    display: inline;
}

#buttonsContainer {
    width: 30%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonStyle {
    width: 100px;
    height: 100%;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 700;
}

#left {
    background: crimson;
}

#right {
    background: forestgreen;
}