:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#sideBar {
    width: 100%;
    height: 15%;
    border-bottom: .5px solid hsl(220, 14%, 75%);
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.font {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.links {
    color: hsl(219, 9%, 45%);
    margin-left: 40px;
}

.links:nth-of-type(1) {
    margin-left: 70px;
}

#logoDiv {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#profileDiv {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#cart {
    margin-right: 20px;
}

#container {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#leftContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
}

#rightContainer {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 150px;
    padding-right: 50px;
    flex-wrap: wrap;
}

#productDiv {
    background-image: url('images/product1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;

    /* transition */
    transition-property: filter;
    transition-duration: .5s;
    transition-timing-function: ease;
    transition-delay: .2s;
}

#thumbnailDiv {
    width: 55%;
    height: 80px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.thumbnails {
    border-radius: 10px;

    /* transition */
    transition-property: filter;
    transition-duration: .5s;
    transition-timing-function: ease;
    transition-delay: .2s;
}

.thumbnails:hover, #productDiv:hover {
    outline: 3px solid var(--orange);
    filter: opacity(80%);
    cursor: pointer;
}

#company {
    letter-spacing: 1px;
    font-weight: 700;
    color: var(--dark-grayish-blue);
    font-size: 14px;
}

#sneaker-name {
    margin-top: 5px;
    font-weight: 700;
    color: var(--black);
    font-size: 40px;
}

#billingDiv {
    width: 100%;
    height: 53%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

#description {
    color: var(--grayish-blue);
    font-weight: 700;
    font-size: 17px;
}

#price {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;
    color: var(--black);
}

#discountTag {
    margin-left: 10px;
    font-size: 21px;
    color: var(--white);
    width: 50px;
    border-radius: 5px;
    height: 25px;
    background: var(--black);
    display: inline-block;
    text-align: center;
}

#oldPrice {
    margin-top: 10px;
    font-weight: 700;
    color: var(--dark-grayish-blue);
    text-decoration: line-through var(--dark-grayish-blue);
}

#buttonsDiv {
    width: 100%;
    height: 300px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cartText {
    font-weight: 700;
}

#counterDiv {
    width: 150px;
    height: 40px;
    background: var(--light-grayish-blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    /* transition */
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: .2s;
}

#counterDiv:hover {
    transform: scale(1.05);
}

#minus, #plus {
    color: var(--orange);
    font-size: 24px;
    font-weight: 700;
}

#amount {
    font-weight: 700;
}

#minus:hover, #plus:hover {
    cursor: pointer;
}

#buttonCart {
    width: 225px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--orange);
    border-radius: 10px;

    /* transition */
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: .2s;
}

#buttonCart:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#cart2 {
    margin-right: 20px;
}