* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

:root {
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

header {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url(images/bg-hero-desktop.svg);
    padding: 40px;
}

#headDivTop {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#button1 {
    width: 150px;
    height: 35px;
    border: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px;
    background: #ffffff;
    font-weight: 700;
    cursor: pointer;
}

#headDivBottom {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#left1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 20px;
}

#right1 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#description1 {
    margin-top: 20px;
}

.buttons {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background: var(--pink);
    border: none;
    border-radius: 20px;
    color: var(--very-pale-cyan);
    font-weight: 700;
    cursor: pointer;

    transition: transform 1s ease .2s;
}

main {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.child {
    height: 250px;
    width: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.descriptionsDiv {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
}

.imageDiv {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descriptions {
    color: var(--grayish-blue);
    margin-top: 10px;
}

footer {
    width: 100%;
    height: 450px;
    background: var(--very-dark-cyan);
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#zIndexContainer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#zIndexBox {
    width: 500px;
    height: 150px;
    background: #ffffff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    position: relative;
    top: 100px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
}

#flexContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#leftContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    filter: brightness(40%);
}

#flexBox {
    width: 80%;
    height: 60%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 50px;
}

.icons {
    width: 20px;
}

.iconsDivs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.linksDiv {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.links,
.iconsInfo {
    color: #ffffff;
    cursor: pointer;
}

.links:hover,
.iconsInfo:hover {
    text-decoration: 1px underline;
}

.buttons:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 1900px) {
    #zIndexContainer {
        display: none;
    }
}

@media only screen and (max-width: 950px) {
    #headDivBottom {
        flex-direction: column;
        align-items: center;
    }

    .buttons {
        display: none;
    }

    #right1 {
        display: none;
    }

    .child {
        flex-direction: column;
        height: 33.3%;
    }

    .imageDiv img {
        width: 150px;
    }

    .imageDiv {
        padding: 10px;
    }

    .imageDiv,
    .descriptionsDiv {
        width: 100%;
        height: 50%;
        align-items: center;
        justify-content: center;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
}