* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
    font-weight: 500;
    font-style: normal;
}

:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

header {
    width: 100%;
    height: 13.5%;
    padding: 0px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

select {
    appearance: none;
    border: none;
    outline: none;
    font-weight: 700;
    color: var(--medium-gray);
    margin-left: 50px;
    font-size: 16px;
}

.arrows:nth-of-type(3) {
    margin-left: 10px;
}

.links {
    margin-left: 40px;
    font-weight: 700;
    color: var(--medium-gray);
}

#sideHeader {
    width: 20%;
    height: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sideText {
    color: var(--medium-gray);
    font-weight: 500;
}

#sideBox {
    width: 40%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--medium-gray);
    border-radius: 10px;
}

main {
    height: 86.5%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

article {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

#imageDiv {
    width: 40%;
    height: 100%;
    padding: 50px 60px;
}

#titleHeading {
    font-size: 50px;
    font-weight: 700;
    position: relative;
    right: 20px;
}

#description {
    margin-top: 20px;
    color: var(--medium-gray);
}

#learnMore {
    position: relative;
    right: 105px;
    margin-top: 30px;
    border: none;
    background: var(--almost-black);
    border-radius: 10px;
    color: var(--almost-white);
    font-weight: 700;
    width: 125px;
    height: 35px;
    cursor: pointer;
    transition: transform 1s ease;
}

#learnMore:hover {
    transform: scale(1.05);
}

footer {
    margin-top: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

@media only screen and (max-width: 1355px) {
    article {
        width: 100%;
    }
    #imageDiv {
        display: none;
    }
}

@media only screen and (max-width: 950px) {
    footer {
        flex-direction: column;
        position: relative;
        top: 50px;
    }
    #learnMore, .links {
        display: none;
    }
    #sideBox {
        border: none;
    }
    #sideHeader {
        flex-wrap: wrap;
    }
}